pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.rebel_readline_history
fw*log

# Don't save generated Advanced compiled artifact
resources/public/webgl.js
